<div id="bg" style="padding-top: 50px;">
    <img src="{{.imageUrl}}" alt="logo" style="border: 0;max-width: 543px; max-height: 517px; height:auto; width: auto">
    <div class="rounded-links">
        <span id="onas" class="margin-rounded-nav-links">
            <a href="/about">O mnie</a>
        </span>
        <span id="opsychoterapii" class="margin-rounded-nav-links">
            <a href="/insights">O psychoterapii</a>
        </span>
        <span id="oferta"  class="margin-rounded-nav-links">
            <a href="/offer" class="O nas">Oferta</a>
        </span>
        <span id="kontakt"  class="margin-rounded-nav-links">
            <a href="/contact" class="O nas">Kontakt</a>
        </span>
    </div>
</div>