<div class="pv5 ph2 bg-center jumbotron-background">
  <img src="/img/drzewo.svg" class="jumbotron-left">
  <img src="/img/drzewo.svg" class="jumbotron-right">
  <div class="mw7 center ph2">
    <div class="db">
      <div class="mw7 relative bg-fix-primary ">
        <h1 class="f3 b di lh-title  mw6 primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary ">
        {{ if .subtitle }}
        <!-- <p class="b f4 di lh-title mb3 white mw6 bg-primary center" > -->
          {{.subtitle}}
        <!-- </p> -->
        {{ end }}
        {{ if .image }}
        <p class="b f4 di mw6">
          <img src="{{.image}}" alt="" height="300px" style="padding-bottom: 50px">
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
