body {
    font-family: Arial;
    font-size: 10pt;
    /* text-align: justify; */
    background-color: rgba(155, 255, 169, 0.37);
    line-height: 1.7em;
}

a:link,
a:visited {
    font-family: Arial;
    color: #5B9143;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: 0px;
}

p {
    margin-top: 0px;
    /* text-align: justify; */
}

p.ex1 {
    color: #F8A519;
}

p.ex2 {
    color: #F17221;
}

p.ex3 {
    color: #5B9143;
}

p.ex4 {
    color: #F17221;
}

li.ex1 {
    font-size: 12px;
    color: #92BA02;
}

li.ex2 {
    font-size: 12px;
    color: #5B9143;
}

li.ex3 {
    color: #F17221;
}

li.ex4 {
    color: #FFF;
}

h2 {
    color: #1b3f02;
}

html,
body {
    padding-top: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

#pagewidth {
    width: 875px;
    text-align: left;
    margin: 0 auto;
}

#left {
    width: 195px;
    float: left;
    position: relative;
    z-index: -10;
}

#twocols {
    width: 650px;
    float: right;
    position: relative;
}

#right {
    width: 205px;
    float: right;
    position: relative;
    z-index: -10
}

#main {
    background-color: #FFFFFF;
    float: left;
    position: relative;
    width: 445px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.container1 {
    width: 960px;
    background: #FFF;
    margin: 0 auto;
}

.content1 {
    background: #FFF;
    padding: 10px 0;
    width: 857px;
    height: 600px;
}




div.items-more h3 {
    display: none;
}

div.items-more ol {
    list-style-type: none;
}

div.breadcrumbs {
    padding-left: 0px;
    padding-top: 10px;
}

div.breadcrumbs,
div.breadcrumbs a {
    color: #9bc53e;
}

.menu1 a,
.menu1 a:link,
.menu1 a:visited,
.menu1 a:hover {
    outline: none;
}

.menu1,
.menu1 ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    display: block;
}

.menu1 li {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    float: left;
    padding-left: 15px;
    position: relative;
    z-index: 5;
    background: none;
}

.menu1 li:hover {
    z-index: 10000;
    white-space: normal;
}

.menu1 li li {
    float: none;
}

.menu1 ul {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background: none;
    min-height: 0;
    background-image: url('/web/20190109205623im_/http://gabinet-terapia.com/templates/psychoterapia-wieliczka/images/spacer.gif');
    padding: 10px 30px 30px 30px;
    margin: -10px 0 0 -30px;
}

.menu1 li:hover>ul {
    visibility: visible;
    top: 100%;
}

.menu1 li li:hover>ul {
    top: 0;
    left: 100%;
}

.menu1:after,
.menu1 ul:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.menu1 {
    min-height: 0;
    position: relative;
    padding: 6px 0px;
    float: left;
}

.menu1 ul ul {
    padding: 30px 30px 30px 10px;
    margin: -30px 0 0 -10px;
}

@media print {
    #leftcol {
        display: none;
    }

    #rightcol {
        display: none;
    }

    #twocols,
    #maincol {
        width: 100%;
        float: none;
    }
}

.content h2 {
    color: white;
}

.display_none {
    display: none;
}


.icontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .icontainer {
        width: 100%
    }
}



.irow {
    margin-right: -15px;
    margin-left: -15px
}

.irow:after,
.irow:before {
    display: table;
    content: " "
}

.irow:after {
    clear: both
}

.icol-sm-6,
.icol-sm-4,
.icol-sm-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
}

@media (min-width:768px) {
    .icol-sm-6 {
        float: left;
        width: 50%
    }

    .icol-sm-4 {
        float: left;
        width: 33.33333333%
    }

    .icol-sm-8 {
        float: left;
        width: 66.66666667%
    }
}


.irow img {
    width: 100%;
}

/* CUSTOM */

html{
    background-color: #FFF !important;
    width: 100%;
    height: 100%;
}
body{width: 100%;}

.margin-rounded-nav-links{
    margin-left: -270px;
}

section.footer{
    display: block;
    bottom: 0;
    font-size: 8pt;
    position: fixed;
    width: 100%;
    text-align: center;
    color: #000;
    background-color: rgb(91, 145, 67, 0.8);
}
section.footer, section.footer p{
    max-width: none;
    margin-bottom: 0;
}

.flex li a{
    white-space: nowrap;
}


/* CUSTOM END */

@media (max-width: 1200px) and (min-width: 993px) {

    .valign {
        display: flex;
        align-items: center;
    }
}

/*
     FILE ARCHIVED ON 20:56:23 Jan 09, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:31:23 Apr 26, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 77.823
  exclusion.robots: 0.095
  exclusion.robots.policy: 0.086
  RedisCDXSource: 5.15
  esindex: 0.008
  LoadShardBlock: 50.185 (3)
  PetaboxLoader3.datanode: 89.557 (5)
  CDXLines.iter: 19.768 (3)
  load_resource: 627.158 (2)
  PetaboxLoader3.resolve: 526.616 (2)
*/


.short-text-content ul {
    list-style-type: circle;
  }  
              
  .short-text-content ul li {
    list-style: none;
    position: relative;
    padding: 3px 0 2px 25px;
    margin: 0 0 0 10px
  }
  
  .short-text-content ul li::before {
    content: '-';
    position: absolute;
    top: 6px;
    left: 0;
  }
  .short-text-content p{
      margin-top: 15px;
  }

  .panel_cookie{
      position: relative;
      padding: 10px 0;

  }
  
  .cookie-close{
      position: absolute;
      right: 0px;
      bottom: 2px;
      background-color: rgb(91, 145, 67, 0);;
  }
  .cookie-close:hover{
    cursor:pointer;
}

  .panel_cookie a:link,
  .panel_cookie a:visited {
    color: white;
}
  body{
      height: 100vh;
  }
  .content-wrapper{
      padding-bottom: 80px;
  }

  /*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
/* 
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough 
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
} */

nav{
    height: 80px;
    background-color: rgb(91, 145, 67, 0.8);
}
#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  left: 15px;
  width: 40px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: white;
  font-family: 'Great Vibes';
  font-size: 35px;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: black;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 335px;
  height: 100vh;
  margin: -100px 0 0 -30px;
  padding: 40px;
  padding-top: 100px;
  
  background: rgb(91, 145, 67, 0.9);

  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  font-family: 'Great Vibes';
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

span.nav-title{
    color: white;
    font-family: 'Great Vibes';
    font-size:20px;
    padding-left: 60px;
}

@media screen and (min-width: 768px) {
    span.nav-title{
        font-size: 45px;
        padding-left: 0px;
        line-height: 0;
    }
}


@media screen and (min-width: 0px) {
    .rounded-links {
       display: none;
    }
}
@media screen and (min-width: 700px) {
    .rounded-links {
        display: block;
    
    }
}

.quote{
    background-color: rgb(91, 145, 67, 0.8);
    height: fit-content;
    margin : 0 15px;
    padding: 30px 15px 70px ;
    position: relative;
    color: white;
    font-family: 'Great Vibes';
}

.quote-text{
    font-size: 25px;
    font-style: italic;
    
}

@media screen and (min-width: 700px) {
    .quote {
        margin : 0 200px;
        padding: 50px 20px 100px;
    }
    .quote-text{
        font-size: 40px;
        font-style: italic;
    }
}



.quote-author{
    
    text-align: right;
    font-size: 1rem;
    position: absolute;
    right: 50px;
    bottom: 20px;
}

h1, h2, h3 {
    font-family: 'Great Vibes' !important;
}


.bg-green{
    background-color: rgb(91, 145, 67, 0.8);
    color: white;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 450px;
  }